<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>A list of Categories</title>
<link rel="stylesheet" type="text/css" href="style.css"></link>
<link rel="stylesheet" type="text/css" href="layout.css"></link>
<meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
<link href="https://fonts.googleapis.com/css?family=Armata"
	rel="stylesheet"></link>
	
</head>

<body>
	<header>
		<h1>Make Up Reviews</h1>
	</header>
	<ul class="nav">
		<li><a href="/categories">Home</a></li>
		<li><a href="/reviews">All Reviews</a></li>
		<li><a href="/tags">Tags</a></li>

		<li class="dropdown"><a href="javascript:void(0)" class="dropbtn">Categories</a>
			<div th:each="category: ${categories}">
				<div class="dropdown-content">
					<a th:href="@{/category(id=${category.categoryId})}"
						th:text="${category.title}"></a>
				</div>
			</div></li>		
	</ul>
	<div class="container">
		<div class="random">
			<article>Lorem ipsum dolor sit amet, consectetur
				adipisicing elit, sed do eiusmod tempor incididunt ut labore et
				dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
				exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit
				esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
				cupidatat non proident, sunt in culpa qui officia deserunt mollit
				anim id est laborum.</article>

		</div>
		<div class="sub">
			<h3>Subscribe to get the latest reviews!</h3>
			<form class="subscribe" method="POST">
				<label>Enter your name </label> <input type="text" name="name"
					placeholder="Your name..." /> <label>Enter your email </label> <input
					type="text" name="email" placeholder="Email..." />
				<button th:formaction="@{/add-subscriber}">Submit</button>
			</form>
		</div>
		<footer>
			<div class="social">
				<a href="javascript:void(0)"><img src="/images/instagram.jpg"></img>
				</a> <a href="javascript:void(0)"><img src="/images/facebook.jpg"></img>
				</a> <a href="javascript:void(0)"><img src="/images/twitter.jpg"></img></a>
			</div>
			<div class="copy__right">
				<p>Copyright 2017</p>
			</div>
		</footer>
	</div>
	
<script>
  var homePage = document.querySelector('.random article');
  	homePage.addEventListener('mouseover',function(){ 
  		this.style.fontSize = '40px';
  			});
  	homePage.addEventListener('mouseout',function(){
  	this.style.fontSize = '20px';
  	});
  	var footer = document.querySelector('.copy__right p');

    footer.addEventListener('click', function(){
      if(this.innerText !== 'Created by: Yesharge Abrha'){
        this.innerText = 'Created by: Yesharge Abrha';
      }else {
    	  this.innerText = 'Copyright 2017';
      }
    });
  	</script>	
</body>
</html>